# ── D4 허니팟 SSH (211.57.64.13) ───────────────────────────
COWRIE_HOST=211.57.64.13
COWRIE_SSH_PORT=22
COWRIE_MGMT_SSH_PORT=2200
COWRIE_HOSTNAME=mil-mgmt-svr

# ── D5 허니팟 Web (211.57.64.14) ───────────────────────────
SNARE_HOST=211.57.64.14
SNARE_HTTP_PORT=80
SNARE_HTTPS_PORT=443
TANNER_API_PORT=8090
REDIS_HOST=redis
REDIS_PORT=6379
