# Historian 서버 환경변수
# ★ 취약점: 하드코딩된 자격증명 ★

HISTORIAN_API=http://192.168.200.10:8000
INFLUXDB_URL=http://192.168.200.10:8086
INFLUXDB_TOKEN=historian-dev-token-2024
INFLUXDB_ORG=ot-org
INFLUXDB_BUCKET=ot_data

# SCADA 연동 정보
SCADA_HOST=192.168.201.10
SCADA_PORT=502
